In [1]:
import matplotlib as plt

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.read_csv("C:\\Users\\gaura\\Downloads\\netflix shows.csv")
df

,show id,type,title,country,release year,duration,listed inside
0,s1,Movie,Dick Johnson Is Dead,United States,2020,90 min,Documentaries
1,s2,TV Show,Blood & Water,South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,NaN,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,2021,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,2007,158 min,"Cult Movies, Dramas, Thrillers"
8803,s8804,TV Show,Zombie Dumb,NaN,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Movie,Zombieland,United States,2009,88 min,"Comedies, Horror Movies"
8805,s8806,Movie,Zoom,United States,2006,88 min,"Children & Family Movies, Comedies"
8806,s8807,Movie,Zubaan,India,2015,111 min,"Dramas, International Movies, Music & Musicals"

In [5]:
df.head()

,show id,type,title,country,release year,duration,listed inside
0,s1,Movie,Dick Johnson Is Dead,United States,2020,90 min,Documentaries
1,s2,TV Show,Blood & Water,South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,NaN,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,2021,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [6]:
df.loc[2]['title']

'Ganglands'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show id        8807 non-null   object
 1   type           8807 non-null   object
 2   title          8807 non-null   object
 3   country        7976 non-null   object
 4   release year   8807 non-null   int64
 5   duration       8804 non-null   object
 6   listed inside  8807 non-null   object
dtypes: int64(1), object(6)
memory usage: 481.8+ KB

In [8]:
def extract_Shows(txt):
    check=False
    data=""
    for i in txt:
        if check==")":
            break
        if i=='(':
        
            check=True
        if check==True:
            data+=1
        return data

In [12]:
df['Shows']=df["listed inside"].apply(extract_Shows)
df

,show id,type,title,country,release year,duration,listed inside,Shows
0,s1,Movie,Dick Johnson Is Dead,United States,2020,90 min,Documentaries,
1,s2,TV Show,Blood & Water,South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",
2,s3,TV Show,Ganglands,NaN,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",
3,s4,TV Show,Jailbirds New Orleans,NaN,2021,1 Season,"Docuseries, Reality TV",
4,s5,TV Show,Kota Factory,India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",
...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,2007,158 min,"Cult Movies, Dramas, Thrillers",
8803,s8804,TV Show,Zombie Dumb,NaN,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",
8804,s8805,Movie,Zombieland,United States,2009,88 min,"Comedies, Horror Movies",
8805,s8806,Movie,Zoom,United States,2006,88 min,"Children & Family Movies, Comedies",
8806,s8807,Movie,Zubaan,India,2015,111 min,"Dramas, International Movies, Music & Musicals",

In [13]:
df.shape()

TypeError: 'tuple' object is not callable

In [15]:
 # Main Genre (first genre from listed_in)
df['main_genre'] = df['listed inside'].fillna("").apply(lambda x: x.split(",")[0].strip() if x else None)

# 2. Is Recent (1 if released after 2015 else 0)
df['is_recent'] = df['release year'].apply(lambda x: 1 if x >= 2015 else 0)

# 3. Duration in Numbers (movies → minutes, TV shows → seasons)
df['duration_num'] = df['duration'].str.extract(r'(\d+)').astype(float)

# 4. Decade (e.g., 1990s, 2000s)
df['decade'] = (df['release year'] // 10) * 10

# 5. Is Multi-Genre (1 if multiple genres)
df['multi_genre'] = df['listed inside'].apply(lambda x: 1 if (pd.notnull(x) and "," in x) else 0)

# 6. Genre Count (number of genres a show has)
df['genre_count'] = df['listed inside'].fillna("").apply(lambda x: len(x.split(",")) if x else 0)

# 7. Country Count (number of countries listed)
df['country_count'] = df['country'].fillna("").apply(lambda x: len(x.split(",")) if x else 0)

# 8. Region (continent mapping for countries)
continent_map = {
    'India': 'Asia',
    'United States': 'North America',
    'United Kingdom': 'Europe',
    'South Africa': 'Africa',
    'Japan': 'Asia',
    'South Korea': 'Asia',
    'China': 'Asia',
    'Brazil': 'South America',
    'Mexico': 'North America',
    'Canada': 'North America',
    'Australia': 'Oceania',
    'France': 'Europe',
    'Germany': 'Europe',
    'Spain': 'Europe',
    'Italy': 'Europe',
}
df['region'] = df['country'].map(continent_map)

# 9. Content Age Group (kids / family / adult based on listed_in)
def classify_age_group(genres):
    if pd.isnull(genres):
        return "Unknown"
    genres = genres.lower()
    if "kids" in genres or "children" in genres:
        return "Kids"
    elif "family" in genres:
        return "Family"
    else:
        return "Adult"

df['age_group'] = df['listed inside'].apply(classify_age_group)

# Preview new dataset
print(df.head(10))

  show id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                                             country  release year   duration  \
0                                      United States          2020     90 min
1                                       South Africa          2021  2 Seasons
2                                                NaN          2021   1 Season
3                                                NaN          2021   1 Season
4                                              India          2021  2 Seasons
5                                                NaN          2021   1 Season
6                                                NaN          2021     91 min
7  United States, Ghana, Burkina Faso, United Kin...          1993    125 min
8                                     United Kingdom          2021  9 Seasons
9                                      United States          2021    104 min

                                       listed inside Shows  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                 main_genre  is_recent  duration_num  decade  multi_genre  \
0             Documentaries          1          90.0    2020            0
1    International TV Shows          1           2.0    2020            1
2            Crime TV Shows          1           1.0    2020            1
3                Docuseries          1           1.0    2020            1
4    International TV Shows          1           2.0    2020            1
5                 TV Dramas          1           1.0    2020            1
6  Children & Family Movies          1          91.0    2020            0
7                    Dramas          0         125.0    1990            1
8          British TV Shows          1           9.0    2020            1
9                  Comedies          1         104.0    2020            1

   genre_count  country_count         region age_group
0            1              1  North America     Adult
1            3              1         Africa     Adult
2            3              0            NaN     Adult
3            2              0            NaN     Adult
4            3              1           Asia     Adult
5            3              0            NaN     Adult
6            1              0            NaN      Kids
7            3              6            NaN     Adult
8            2              1         Europe     Adult
9            2              1  North America     Adult

In [23]:
df[duration]=df[(duration.split()[0])]
df

,show id,type,title,country,release year,duration,listed inside,Shows,main_genre,is_recent,duration_num,decade,multi_genre,genre_count,country_count,region,age_group
0,s1,Movie,Dick Johnson Is Dead,United States,2020,90 min,Documentaries,,Documentaries,1,90.0,2020,0,1,1,North America,Adult
1,s2,TV Show,Blood & Water,South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",,International TV Shows,1,2.0,2020,1,3,1,Africa,Adult
2,s3,TV Show,Ganglands,NaN,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",,Crime TV Shows,1,1.0,2020,1,3,0,NaN,Adult
3,s4,TV Show,Jailbirds New Orleans,NaN,2021,1 Season,"Docuseries, Reality TV",,Docuseries,1,1.0,2020,1,2,0,NaN,Adult
4,s5,TV Show,Kota Factory,India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",,International TV Shows,1,2.0,2020,1,3,1,Asia,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,2007,158 min,"Cult Movies, Dramas, Thrillers",,Cult Movies,0,158.0,2000,1,3,1,North America,Adult
8803,s8804,TV Show,Zombie Dumb,NaN,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",,Kids' TV,1,2.0,2010,1,3,0,NaN,Kids
8804,s8805,Movie,Zombieland,United States,2009,88 min,"Comedies, Horror Movies",,Comedies,0,88.0,2000,1,2,1,North America,Adult
8805,s8806,Movie,Zoom,United States,2006,88 min,"Children & Family Movies, Comedies",,Children & Family Movies,0,88.0,2000,1,2,1,North America,Kids
8806,s8807,Movie,Zubaan,India,2015,111 min,"Dramas, International Movies, Music & Musicals",,Dramas,1,111.0,2010,1,3,1,Asia,Adult

df[duration_num]

In [25]:
df['duration_num'].head()

0    90.0
1     2.0
2     1.0
3     1.0
4     2.0
Name: duration_num, dtype: float64

In [29]:
df['duration_num'].max()

312.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show id        8807 non-null   object
 1   type           8807 non-null   object
 2   title          8807 non-null   object
 3   country        7976 non-null   object
 4   release year   8807 non-null   int64
 5   duration       8804 non-null   object
 6   listed inside  8807 non-null   object
 7   Shows          8807 non-null   object
 8   main_genre     8807 non-null   object
 9   is_recent      8807 non-null   int64
 10  duration_num   8804 non-null   float64
 11  decade         8807 non-null   int64
 12  multi_genre    8807 non-null   int64
 13  genre_count    8807 non-null   int64
 14  country_count  8807 non-null   int64
 15  region         5585 non-null   object
 16  age_group      8807 non-null   object
dtypes: float64(1), int64(6), object(10)
memory usage: 1.1+ MB

In [32]:
df.to_csv("C:\\Users\\gaura\\Downloads\\netflix shows.csv",index=False)

In [33]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [34]:
df.isna()

,show id,type,title,country,release year,duration,listed inside,Shows,main_genre,is_recent,duration_num,decade,multi_genre,genre_count,country_count,region,age_group
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
8804,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [36]:
df.isna().sum()

show id             0
type                0
title               0
country           831
release year        0
duration            3
listed inside       0
Shows               0
main_genre          0
is_recent           0
duration_num        3
decade              0
multi_genre         0
genre_count         0
country_count       0
region           3222
age_group           0
dtype: int64

In [38]:
df.isna().sum().sum()

np.int64(4059)

In [42]:
pp=df.fillna(method="ffill")
pp

C:\Users\gaura\AppData\Local\Temp\ipykernel_12728\395441659.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  pp=df.fillna(method="ffill")

,show id,type,title,country,release year,duration,listed inside,Shows,main_genre,is_recent,duration_num,decade,multi_genre,genre_count,country_count,region,age_group
0,s1,Movie,Dick Johnson Is Dead,United States,2020,90 min,Documentaries,,Documentaries,1,90.0,2020,0,1,1,North America,Adult
1,s2,TV Show,Blood & Water,South Africa,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",,International TV Shows,1,2.0,2020,1,3,1,Africa,Adult
2,s3,TV Show,Ganglands,South Africa,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",,Crime TV Shows,1,1.0,2020,1,3,0,Africa,Adult
3,s4,TV Show,Jailbirds New Orleans,South Africa,2021,1 Season,"Docuseries, Reality TV",,Docuseries,1,1.0,2020,1,2,0,Africa,Adult
4,s5,TV Show,Kota Factory,India,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",,International TV Shows,1,2.0,2020,1,3,1,Asia,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,United States,2007,158 min,"Cult Movies, Dramas, Thrillers",,Cult Movies,0,158.0,2000,1,3,1,North America,Adult
8803,s8804,TV Show,Zombie Dumb,United States,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies",,Kids' TV,1,2.0,2010,1,3,0,North America,Kids
8804,s8805,Movie,Zombieland,United States,2009,88 min,"Comedies, Horror Movies",,Comedies,0,88.0,2000,1,2,1,North America,Adult
8805,s8806,Movie,Zoom,United States,2006,88 min,"Children & Family Movies, Comedies",,Children & Family Movies,0,88.0,2000,1,2,1,North America,Kids
8806,s8807,Movie,Zubaan,India,2015,111 min,"Dramas, International Movies, Music & Musicals",,Dramas,1,111.0,2010,1,3,1,Asia,Adult

In [43]:
pp.isna().sum()

show id          0
type             0
title            0
country          0
release year     0
duration         0
listed inside    0
Shows            0
main_genre       0
is_recent        0
duration_num     0
decade           0
multi_genre      0
genre_count      0
country_count    0
region           0
age_group        0
dtype: int64

In [45]:
pp.max().

SyntaxError: invalid syntax (3211333937.py, line 1)

In [46]:
pp.describe()

,release year,is_recent,duration_num,decade,multi_genre,genre_count,country_count
count,8807.000000,8807.000000,8807.000000,8807.000000,8807.000000,8807.000000,8807.000000
mean,2014.180198,0.705802,69.840354,2009.108664,0.770637,2.194050,1.137618
std,8.819312,0.455707,50.811683,9.228119,0.420447,0.784341,0.759317
min,1925.000000,0.000000,1.000000,1920.000000,0.000000,1.000000,0.000000
25%,2013.000000,0.000000,2.000000,2010.000000,1.000000,2.000000,1.000000
50%,2017.000000,1.000000,88.000000,2010.000000,1.000000,2.000000,1.000000
75%,2019.000000,1.000000,106.000000,2010.000000,1.000000,3.000000,1.000000
max,2021.000000,1.000000,312.000000,2020.000000,1.000000,3.000000,12.000000

In [48]:
pp[pp['duration_num']==pp['duration_num'].max()]['show id']

4253    s4254
Name: show id, dtype: object

In [50]:
pp.sort_values(by='duration_num',ascending=False)

,show id,type,title,country,release year,duration,listed inside,Shows,main_genre,is_recent,duration_num,decade,multi_genre,genre_count,country_count,region,age_group
4253,s4254,Movie,Black Mirror: Bandersnatch,United States,2018,312 min,"Dramas, International Movies, Sci-Fi & Fantasy",,Dramas,1,312.0,2010,1,3,1,North America,Adult
717,s718,Movie,Headspace: Unwind Your Mind,United States,2021,273 min,Documentaries,,Documentaries,1,273.0,2020,0,1,0,North America,Adult
2491,s2492,Movie,The School of Mischief,Egypt,1973,253 min,"Comedies, Dramas, International Movies",,Comedies,0,253.0,1970,1,3,1,Asia,Adult
2487,s2488,Movie,No Longer kids,Egypt,1979,237 min,"Comedies, Dramas, International Movies",,Comedies,0,237.0,1970,1,3,1,Asia,Adult
2484,s2485,Movie,Lock Your Girls In,Kuwait,1982,233 min,"Comedies, International Movies, Romantic Movies",,Comedies,0,233.0,1980,1,3,0,North America,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,s8750,TV Show,Winter Sun,Turkey,2014,1 Season,"International TV Shows, TV Dramas, TV Thrillers",,International TV Shows,0,1.0,2010,1,3,1,Oceania,Adult
8758,s8759,TV Show,World's Busiest Cities,United Kingdom,2017,1 Season,"British TV Shows, Docuseries",,British TV Shows,1,1.0,2010,1,2,1,Europe,Adult
1116,s1117,TV Show,Glimpses of a Future,India,2020,1 Season,"Docuseries, International TV Shows",,Docuseries,1,1.0,2020,1,2,0,Asia,Adult
8785,s8786,TV Show,YOM,"Russia, Spain",2016,1 Season,Kids' TV,,Kids' TV,1,1.0,2010,0,1,0,North America,Kids
14,s15,TV Show,Crime Stories: India Detectives,"Germany, Czech Republic",2021,1 Season,"British TV Shows, Crime TV Shows, Docuseries",,British TV Shows,1,1.0,2020,1,3,0,North America,Adult

In [52]:
df['country'].value_counts()

country
United States                                    2818
India                                             972
United Kingdom                                    419
Japan                                             245
South Korea                                       199
                                                 ...
Russia, Spain                                       1
Croatia, Slovenia, Serbia, Montenegro               1
Japan, Canada                                       1
United States, France, South Korea, Indonesia       1
United Arab Emirates, Jordan                        1
Name: count, Length: 748, dtype: int64